body {
  margin: 0;
  padding: 0;
  background-color: red;
}

.content {
  flex: 1;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: green;
}

.btn-container {
  display: flex;
}
